[submodule "external/protoncore"]
	path = external/protoncore
	url = ../../shared/protoncore
	tag = 35.0.1
[submodule "external/apple-fusion"]
	path = external/apple-fusion
	url = ../../../tpe/apple-fusion
	tag = 2.1.2
[submodule "external/wireguard-apple"]
	path = external/wireguard-apple
	url = ../wireguard-apple
	branch = release/ios
[submodule "external/swift-cargo"]
	path = external/swift-cargo
	url = ../swift-cargo
