# Xcode
**/xcuserdata

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
/fastlane
DerivedData
swiftlint.xml
.swiftpm
.ruby-version

# Directory created by gitlab-runner
builds
*.swift.plist
swiftlint.json
codequality_report.json

# Produced when running scripts/code_quality.sh locally
codequality_report.json-e

# Produced when updating Version.xcconfig
apps/*/release.txt

apps/ios/ProtonVPNUITests/credentials_bf22.plist
libraries/Foundations/Domain/Sources/DomainTestSupport/UserDefaults+Mock.swift_*

build/
.DerivedData
output_directory/
libraries/**/Package.resolved

fastlane/coverage.json
fastlane/ios/metadata
fastlane/ios/screenshots
output/

# Obfuscated constants
**/ObfuscatedConstants.swift
*.strings.env

# Configuration
.gitconfig
.vscode/
