--disable enumNamespaces
--disable extensionAccessControl
--disable redundantStaticSelf
--disable redundantType
--disable redundantTypedThrows
--disable redundantVoidReturnType
--disable semicolons
--disable sortDeclarations
--disable sortImports
--disable sortTypealiases
--disable spaceAroundBraces
--disable spaceAroundBrackets
--disable spaceAroundComments
--disable spaceAroundGenerics
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable spaceInsideComments
--disable spaceInsideGenerics
--disable spaceInsideParens
--disable strongOutlets
--disable strongifiedSelf
--disable swiftTestingTestCaseNames
--disable todos
--disable trailingClosures
--disable trailingCommas
--disable trailingSpace
--disable typeSugar
--disable unusedArguments
--disable void
--disable wrap
--disable wrapArguments
--disable wrapAttributes
--disable wrapLoopBodies
--disable wrapMultilineStatementBraces
--disable wrapSingleLineComments
--disable yodaConditions

# no need to fix external libs
--exclude external
