--disable extensionAccessControl
--disable wrapMultilineStatementBraces

--enable isEmpty

# format options

--allman false
--commas always
--self init-only
--wraparguments before-first

# excludes
--exclude external,Build
