--disable extensionAccessControl
--disable wrapMultilineStatementBraces

--enable isEmpty

# format options

--allman false
--commas always
--self init-only
--wraparguments before-first
--wrapcollections before-first
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line

# excludes
--exclude external,Build
