//
//  Config.xcconfig
//  macOS
//
//  Created by Igor Kulman on 24.05.2021.
//  Copyright © 2021 Proton Technologies AG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GO_VERSION = 1.22
REDESIGN = 0
DEPLOYMENT_TARGET = 14.0

REDESIGN_SWIFTFLAGS0 =
REDESIGN_SWIFTFLAGS1 = -DREDESIGN
REDESIGN_SWIFTFLAGS = $(REDESIGN_SWIFTFLAGS$(REDESIGN))

MAC_APP_VERSION = 5.0.0
