//
//  Config.xcconfig
//  iOS
//
//  Created by Igor Kulman on 24.05.2021.
//  Copyright © 2021 Proton Technologies AG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Setup how logs are treated by os_log for different build configurations

#include "Version.xcconfig"

OSLOG_LEVEL_ENABLE[config=Debug] = Debug
OSLOG_LEVEL_PERSIST[config=Debug] = Debug

OSLOG_LEVEL_ENABLE[config=Debug-Staging] = Debug
OSLOG_LEVEL_PERSIST[config=Debug-Staging] = Debug

OSLOG_LEVEL_ENABLE[config=Release] = Inherit
OSLOG_LEVEL_PERSIST[config=Release] = Inherit

DEPLOYMENT_TARGET = 17.0
GO_VERSION = 1.22
