<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/AlamofireImage</string>
			<key>Title</key>
			<string>AlamofireImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Atlantis</string>
			<key>Title</key>
			<string>Atlantis</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/combine-schedulers</string>
			<key>Title</key>
			<string>combine-schedulers</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/CryptoSwift</string>
			<key>Title</key>
			<string>CryptoSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/DictionaryCoder</string>
			<key>Title</key>
			<string>DictionaryCoder</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/GRDB</string>
			<key>Title</key>
			<string>GRDB</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/GSMessages</string>
			<key>Title</key>
			<string>GSMessages</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/JSONSchema</string>
			<key>Title</key>
			<string>JSONSchema</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Lottie</string>
			<key>Title</key>
			<string>Lottie</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/OHHTTPStubs</string>
			<key>Title</key>
			<string>OHHTTPStubs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/PathKit</string>
			<key>Title</key>
			<string>PathKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Reachability</string>
			<key>Title</key>
			<string>Reachability</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SDWebImage</string>
			<key>Title</key>
			<string>SDWebImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SDWebImageSwiftUI</string>
			<key>Title</key>
			<string>SDWebImageSwiftUI</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Sentry</string>
			<key>Title</key>
			<string>Sentry</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Sparkle</string>
			<key>Title</key>
			<string>Sparkle</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Spectre</string>
			<key>Title</key>
			<string>Spectre</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SVGView</string>
			<key>Title</key>
			<string>SVGView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-algorithms</string>
			<key>Title</key>
			<string>swift-algorithms</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-argument-parser</string>
			<key>Title</key>
			<string>swift-argument-parser</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-async-algorithms</string>
			<key>Title</key>
			<string>swift-async-algorithms</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-atomics</string>
			<key>Title</key>
			<string>swift-atomics</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-case-paths</string>
			<key>Title</key>
			<string>swift-case-paths</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-clocks</string>
			<key>Title</key>
			<string>swift-clocks</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-collections</string>
			<key>Title</key>
			<string>swift-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-composable-architecture</string>
			<key>Title</key>
			<string>swift-composable-architecture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-concurrency-extras</string>
			<key>Title</key>
			<string>swift-concurrency-extras</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-custom-dump</string>
			<key>Title</key>
			<string>swift-custom-dump</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-dependencies</string>
			<key>Title</key>
			<string>swift-dependencies</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-identified-collections</string>
			<key>Title</key>
			<string>swift-identified-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-log</string>
			<key>Title</key>
			<string>swift-log</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-navigation</string>
			<key>Title</key>
			<string>swift-navigation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-numerics</string>
			<key>Title</key>
			<string>swift-numerics</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Overture</string>
			<key>Title</key>
			<string>Overture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-perception</string>
			<key>Title</key>
			<string>swift-perception</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-sharing</string>
			<key>Title</key>
			<string>swift-sharing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-snapshot-testing</string>
			<key>Title</key>
			<string>swift-snapshot-testing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-syntax</string>
			<key>Title</key>
			<string>swift-syntax</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SwiftOTP</string>
			<key>Title</key>
			<string>SwiftOTP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SwiftyBeaver</string>
			<key>Title</key>
			<string>SwiftyBeaver</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/TrustKit</string>
			<key>Title</key>
			<string>TrustKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/ViewInspector</string>
			<key>Title</key>
			<string>ViewInspector</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/xctest-dynamic-overlay</string>
			<key>Title</key>
			<string>xctest-dynamic-overlay</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Yams</string>
			<key>Title</key>
			<string>Yams</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Acknowledgements</string>
</dict>
</plist>
